<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /

    # remove more than one slashes when they are in link, for simple x//y => x/y
    RewriteCond %{THE_REQUEST} //
    RewriteRule ^(.+?)/?$ /$1 [R,L,NE]
    
    # remove multi trailing slashes, for simple x/y/ => x/y
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{THE_REQUEST} \s(.+?)/+[?\s]
    RewriteRule ^(.+?)/$ /$1 [R,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
